* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Rowdies";
    src: url(./Letra/Rowdies-Bold.ttf);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
}

.body{
    background-color: rgb(103, 101, 101);
}

.titulo {
    display: flex;
    justify-content: center;
    display: grid;
    color: rgb(32, 32, 34);
    font-family: "Rowdies";
}

.buscador {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.navegador nav {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 5rem;

}

.video {
width: 100%

}

/* css de Catalogo*/
.maincatalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: rgb(137, 137, 236);
    font-family: "Rowdies";
    background-color: rgb(58, 55, 55);

}

.productos {
    display: flex;
    padding: 4%;
    gap: 4%;
    flex-direction: column;
    

}

.lineap1 {
    display: flex;
    align-items: center;
    gap: 3%;
}

.lineap2 {
    display: flex;
    align-items: center;
    gap: 3%;
}

.lineap3 {
    display: flex;
    align-items: center;
    gap: 3%;
}


/*Css del contacto*/
.divcontenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
}

.maincontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: rgb(137, 137, 236);
    font-family: Rowdies;
    background-color: rgb(58, 55, 55);
}




/*css de Politicas de cambio*/
.mainpoldecambio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: rgb(137, 137, 236);
    font-family: Rowdies;
    background-color: rgb(58, 55, 55);
}

.tituloh2 { 
    margin-inline: 13rem;
    margin-block: 1rem;
    font-family: "Rowdies";
    padding: 3%;
}

.parrafo1 {
    margin-inline: 5rem;

}

.tituloh4 {
    margin-inline: 13rem;
    margin-block: 1rem;
    font-family: Rowdies;
    padding: 3%;
}

.olcambiodetalles {
    margin-inline: 5rem;
    padding: 2%;
}


/*css Politicas de envio*/
.mainpoldeenvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: rgb(137, 137, 236);
    font-family: Rowdies;
    background-color: rgb(58, 55, 55);
}

/*Css Footer*/
.footer {
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    width: 15%;
    color: antiquewhite;
}

.footer h4 {
    color: #ffffff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer{
    background-color: black;
}

@media (max-width: 880px) {
    .footer {
        padding: 1%;
    }
}

@media (max-width: 400px) {
    .productos{
        padding: 1%;
    }
    
}
