/*css Politicas de envio*/
.mainpoldeenvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: $colorPrincipl;
    font-family: "Rowdies";
    background-color: $colorSecundario;
    

}