/*css de Politicas de cambio*/
.mainpoldecambio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: $colorPrincipl;
    font-family: "Rowdies";
    background-color: $colorSecundario;
    
}